[Unit]
Description=LibreScoot DBC Version Service
Requires=redis.service
After=redis.service

[Service]
Type=oneshot
ExecStart=/usr/bin/version-service -hash="version:dbc"
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
