[Unit]
Description=LibreScoot MDB Version Service
Requires=redis.service
After=redis.service network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/version-service -hash="version:mdb"
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
