[Unit]
Description=LibreScoot DBC Version Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/version-service -hash="version:dbc"
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
